@{
  Layout = "_Layout";
}
@using HairSalon.Models;


<h1>Stylists</h1>
<div class="PageAction">
  <p class="btn btn-info black">@Html.ActionLink("Add New Stylist", "Create")</p>
</div>

<div class="TableContainer">
  <div class="container">
    @if (@Model.Count == 0)
    {
      <h3>No Stylists currently registered</h3>
    }
    else
    {
      <div class="row TableHeader">
        <div class="col-1"></div>
        <div class="col-4">Name</div>
        <div class="col-2">Clients</div>
        <div class="col">Date of Hire</div>
        <div class="col-2">Delete</div>
      </div>
    }

    @foreach (Stylist stylist in Model)
    {
      <div class="row TableEntry">
        <div class="col-1 TableButton BlueBtn black BtnSpacer">@Html.ActionLink("View", "Details", new { id = stylist.StylistId })</div>
        <div class="col-4">@stylist.Name</div>
        <div class="col-2">@stylist.CustomerCount</div>
        <div class="col">@stylist.StartDate</div>
        <div class="col-2"><p class="TableButton RedBtn black BtnSpacer">@Html.ActionLink("Delete","Delete", new { id = stylist.StylistId })</p></div>
      </div>
    }
    <div class="row TableFooter"></div>
  </div>
</div>