@{
  Layout = "_Layout";
}
@using HairSalon.Models;


<h1>Stylists</h1>
<div class="PageAction">
  <p class="btn btn-info black">@Html.ActionLink("Back to Home", "Index", "Home")</p>
  <p class="btn btn-info black">@Html.ActionLink("Add Stylist", "Create")</p>
</div>

@if (@Model.Count == 0)
{
  <h3>No Stylists currently registered</h3>
}

<ul>
  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink("View", "Details", new { id = stylist.StylistId })  |  @stylist.Name  |  @stylist.CustomerCount  |  @stylist.StartDate</li>
  }
</ul>